.mobi-menu-button{
  width: 30px;
  height: 30px;
  background-color: chocolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span{
    display: inline-block;
    width: 15px;
    height: 2px;
    background-color: white;
    margin-bottom: 3px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.mobi-menu{
  .mobi-menu__link{
    padding-left: 15px;
  }
  ul{
    .mobi-menu__link{
      padding-left: 30px;
    }
  }
  ul ul{
    .mobi-menu__link{
      padding-left: 45px;
    }
  }
}
.mobi-menu__item{
  position: relative;
  >ul{
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
  }
  &.mobi-menu__item_expand{
    >ul{
      max-height: 100vh;
    }
    > .mobi-menu__arrow{
      transform: rotateZ(180deg);
    }
  }
}
.mobi-menu__arrow{
  display: inline-block;
  background-color: chocolate;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  transition: 0.5s;
  &:before,
  &:after{
    content: '';
    display: inline-block;
    height: 2px;
    width: 10px;
    background-color: white;
    position: absolute;
  }
  &:before{
    top:50%;
    left: 7px;
    transform: rotateZ(45deg);
  }
  &:after{
    top:50%;
    right: 7px;
    transform: rotateZ(-45deg);
  }
}
.mobi-menu__link{
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
}