.mobi-menu-button {
  width: 30px;
  height: 30px;
  background-color: chocolate;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.mobi-menu-button span {
  display: inline-block;
  width: 15px;
  height: 2px;
  background-color: white;
}

/*# sourceMappingURL=mobi-menu.css.map */
