@mixin animation($animationName,$duration){
  -webkit-animation: $animationName $duration;
  -moz-animation: $animationName $duration;
  -o-animation: $animationName $duration;
  animation:$animationName $duration;
}
@mixin animation-fill-mode($mode){
  -webkit-animation-fill-mode: $mode;
  -moz-animation-fill-mode: $mode;
  -o-animation-fill-mode: $mode;
  animation-fill-mode:$mode;
}