html, body {
  height: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.left-menu {
  height: 100vh;
  position: fixed;
  background-color: black;
  width: 300px;
  transform: translateX(-300px);
  transition: 0.5s;
}

.content {
  transition: 0.5s;
}

.wrapper_menu_show .left-menu {
  transform: translateX(0);
}
.wrapper_menu_show .content {
  transform: translateX(300px);
}

header {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: gray;
}
header nav {
  height: 100%;
  box-sizing: border-box;
  padding: 0 30px;
}

@media (max-width: 768px) {
  header {
    height: 40px;
    padding: 0 15px;
  }
}
.menu {
  height: 100%;
  display: flex;
}
.menu ul ul {
  top: 0;
  left: 100%;
}

@keyframes show {
  100% {
    overflow: initial;
  }
}
.menu__item {
  position: relative;
  background-color: transparent;
  transition: 0.5s;
}
.menu__item .menu__item {
  height: 50px;
  width: 200px;
}
.menu__item > ul {
  display: block;
  position: absolute;
  top: 100%;
  max-height: 0;
  overflow: hidden;
  background-color: gray;
  transition: 0.5s;
}
.menu__item:hover {
  background-color: brown;
}
.menu__item:hover > ul {
  max-height: 50vh;
  -webkit-animation: show 0.5s;
  -moz-animation: show 0.5s;
  -o-animation: show 0.5s;
  animation: show 0.5s;
  animation-fill-mode: forwards;
}

.menu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 30px;
  color: white;
  text-decoration: none;
}
.menu__link span {
  position: relative;
}
.menu__link span:before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 1px;
  width: 0;
  top: 100%;
  left: 0;
  background-color: white;
  transition: all 0.5s ease-out;
}
.menu__link:hover span:before {
  width: 100%;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
}
.mobi-menu-button {
  width: 30px;
  height: 30px;
  background-color: chocolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobi-menu-button span {
  display: inline-block;
  width: 15px;
  height: 2px;
  background-color: white;
  margin-bottom: 3px;
}
.mobi-menu-button span:last-child {
  margin-bottom: 0;
}

.mobi-menu .mobi-menu__link {
  padding-left: 15px;
}
.mobi-menu ul .mobi-menu__link {
  padding-left: 30px;
}
.mobi-menu ul ul .mobi-menu__link {
  padding-left: 45px;
}

.mobi-menu__item {
  position: relative;
}
.mobi-menu__item > ul {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}
.mobi-menu__item.mobi-menu__item_expand > ul {
  max-height: 100vh;
}
.mobi-menu__item.mobi-menu__item_expand > .mobi-menu__arrow {
  transform: rotateZ(180deg);
}

.mobi-menu__arrow {
  display: inline-block;
  background-color: chocolate;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  transition: 0.5s;
}
.mobi-menu__arrow:before, .mobi-menu__arrow:after {
  content: "";
  display: inline-block;
  height: 2px;
  width: 10px;
  background-color: white;
  position: absolute;
}
.mobi-menu__arrow:before {
  top: 50%;
  left: 7px;
  transform: rotateZ(45deg);
}
.mobi-menu__arrow:after {
  top: 50%;
  right: 7px;
  transform: rotateZ(-45deg);
}

.mobi-menu__link {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
}

/*# sourceMappingURL=style.css.map */
