html,body{
  height: 100%;
}

@import "mixin";

.wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.left-menu{
  height: 100vh;
  position: fixed;
  background-color: black;
  width: 300px;
  transform: translateX(-300px);
  transition: 0.5s;
}
.content{
  transition: 0.5s;
}
.wrapper_menu_show{
  .left-menu{
    transform: translateX(0);
  }
  .content{
    transform: translateX(300px);
  }
}

header{
  height: 80px;
  display: flex;
  align-items: center;
  background-color: gray;
  nav{
    height: 100%;
    box-sizing: border-box;
    padding: 0 30px;
  }
}

main{}

@media (max-width: 768px) {
  header{
    height: 40px;
    padding: 0 15px;
  }
  .left-menu{
  }
  .content{
  }
}
@import "menu/menu";
@import "mobi-menu/mobi-menu";