.menu{
  height: 100%;
  display: flex;
  ul ul{
    top:0;
    left: 100%;
  }
}
@keyframes show {
  0%{}
  100%{
    overflow: initial;
  }
}
.menu__item{
  position: relative;
  background-color: transparent;
  transition: 0.5s;
  .menu__item{
    height: 50px;
    width: 200px;
  }
  >ul{
    display: block;
    position: absolute;
    top:100%;
    max-height: 0;
    overflow: hidden;
    background-color: gray;
    transition: 0.5s;
  }
  &:hover{
    background-color: brown;
    >ul{
      max-height: 50vh;
      @include animation(show, 0.5s);
      animation-fill-mode: forwards;
    }
  }
}
.menu__link{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 30px;
  color: white;
  text-decoration: none;
  span{
    position: relative;
    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      height: 1px;
      width: 0;
      top: 100%;
      left: 0;
      background-color: white;
      transition:all 0.5s ease-out;
    }
  }
  &:hover{
    span {
      &:before {
        width: 100%;
      }
    }
  }
}
@media (max-width: 768px) {
  .menu{
    display: none;
  }
}