* {
  font-size: 18px;
  line-height: 20px;
}

button {
  background-color: gray;
  border: none;
  border-radius: 3px;
  color: white;
  outline: none;
  cursor: pointer;
}

.multi-select {
  display: flex;
  height: 120px;
  margin-bottom: 10px;
}

.multi-select__select {
  width: 300px;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 5px;
}

.multi-select__option {
  cursor: pointer;
}
.multi-select__option:hover, .multi-select__option.multi-select__option_select {
  background-color: gray;
}

.multi-select__control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 10px;
}
.multi-select__control button {
  width: 70px;
  margin-bottom: 5px;
}
.multi-select__control button:last-child {
  margin-bottom: 0;
}

/*# sourceMappingURL=style.css.map */
