html,body{
    height: 100%;
    font-family: Roboto;
}

input{
    display: block;
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    padding: 10px;
    font-weight: 300;
    margin-bottom: 20px;

    background-color: silver;
    color: white;
    border: none;
}

a{
    color: green;
    text-decoration: none;
}

.login-page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
}
.login-page__container{
    display: block;
    width: 100%;
}
.login-page__form{
    display: inline-block;
    width: 500px;
    box-sizing: border-box;
    padding: 60px;
    background-color: white;
    box-shadow: black 0px 0px 5px ;
}
.login-page__submit{
    display: block;
    height: 60px;
    width: 100%;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.login-page__registration{
    text-align: center;
    font-weight: 300;
    color: gray;
}
@media (max-width: 768px) {
    .login-page__form{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
}